[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/simple-blog"]
	path = themes/simple-blog
	url = https://github.com/10mohi6/hugo-theme-simple-blog
